.muscle-gain-container {
    position: relative; /* Make the container position relative to layer content over it */
    padding: 0 70px 0 70px;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  /* .muscle-gain-container video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.2; 
    z-index: -1; 
  }
   */
  .heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .heading span {
    color: red;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, select {
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 250px;
  }
  
  button {
    background-color: red;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #e63946;
  }
  
  .target-form input,
  .target-form select {
    margin: 10px;
  }
  
  .recommendations-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .recommendations-container h2 {
    font-size: 2rem;
    color: red;
  }
  
  .recommendations-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recommendations-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recommendations-container li {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  